/* Reset some basic styles */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f3f4f6;
    font-family: 'Arial', sans-serif;
}

/*====================================HEADER STYLE=====================================*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    background-color: #2d3748;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.header-logo {
    flex-shrink: 0;
}

.logo-link {
    color: #ffffff;
    text-decoration: none;
}

.logo-text {
    font-size: 1.5rem;
    padding-left: 0.5rem;
}

.header-toggle {
    display: none; /* Hide toggle by default */
}

.toggle-button {
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 24px;
    height: 24px;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}

.toggle-bar {
    width: 100%;
    height: 3px;
    background-color: #a0aec0;
    transition: transform 0.3s, opacity 0.3s;
}

.toggle-button.open .toggle-bar:nth-child(1) {
    transform: rotate(45deg) translate(6px, 5px);
}

.toggle-button.open .toggle-bar:nth-child(2) {
    opacity: 0;
}

.toggle-button.open .toggle-bar:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -5px);
}

.nav__menu {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

.nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}

.nav__link {
    color: #a0aec0;
    text-decoration: none;
    padding: 1.25rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

.nav__link:hover, .nav__link.active {
    color: #ffffff;
}

.dropdown__item {
    cursor: pointer;
    position: relative;
}

.dropdown__arrow {
    font-size: 1.25rem;
    transition: transform 0.4s;
}

.dropdown__link {
    padding: 1rem 1.5rem;
    color: #2b2a28;
    background-color: var(--black-color-light);
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
}

.dropdown__link:hover {
    background-color: #2d3748;
    color: #fff;
}

.dropdown__menu {
    position: absolute;
    left: 0;
    top: 3rem;
    background-color: var(--black-color-light);
    list-style: none;
    margin: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
    z-index: 1;
}

.dropdown__item:hover > .dropdown__menu,
.dropdown__item:focus-within > .dropdown__menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown__add {
    margin-left: auto;
}

.menu-link {
    color: #a0aec0;
}

.arrow {
    margin-right: 10px;
}

.logout {
    padding: 1.25rem 1.5rem;
}

/*=============== Responsive styles ===============*/
@media (max-width: 768px) {
    .header {
        flex-wrap: nowrap;
        padding: 15px;
        left: 0;
        background-color: #2d3748;
        z-index: 1000;
    }

    .header-logo {
        order: 1;
    }

    .header-toggle {
        display: block; /* Show toggle on smaller screens */
        order: 2;
        margin-left: auto;
    }

    .nav__menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        background-color: #2d3748;
        order: 3;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        transition: max-height 0.3s ease-out, opacity 0.3s ease;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        z-index: 10;
    }

    .nav__menu.open {
        display: block;
        max-height: 500px;
        opacity: 1;
        border-top: 1px solid #a0aec0;
    }

    .dropdown__item {
        position: relative;
    }

    .dropdown__menu {
        display: none;
        position: static;
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        transition: max-height 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
        background-color: #a0aec0   ;
        width: 100%;
    }

    .dropdown__item.active .dropdown__menu {
        display: block;
        max-height: 300px;
        opacity: 1;
        visibility: visible;
    }

    .dropdown__item:hover > .dropdown__menu,
    .dropdown__item:focus-within > .dropdown__menu {
        background: #a0aec0;
        top: 0;
    }

    .arrow {
        margin-right: 0;
    }
}

@media screen and (max-width: 340px) {
    .container {
        margin-inline: 1rem;
    }

    .nav__link {
        padding-inline: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .container {
        margin-inline: auto;
    }

    .nav {
        height: calc(var(--header-height) + 2rem);
        display: flex;
        justify-content: space-between;
    }

    .nav__toggle {
        display: none;
    }

    .nav__list {
        height: 100%;
        display: flex;
        column-gap: 1rem;
        align-items: center;
    }

    .nav__link {
        height: 100%;
        padding: 0;
        justify-content: initial;
        column-gap: 0.25rem;
    }

    .nav__link:hover {
        background-color: transparent;
    }

    .dropdown__menu {
        background: #e2e8f0;
        left: 0;
        top: 4rem;
        width: max-content;
        transform: translateY(8px);
        box-shadow: 0 4px 6px hsla(220, 32%, 8%, 0.3);
    }

    .dropdown__link {
        padding-inline: 1rem 3.5rem;
    }

    .dropdown__item {
        height: 4rem;
    }
}


/*==========================FORMAL STYLES FOR CONTAINER SHAPES==========================*/
.form-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.form-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}

.form-wrapper {
    overflow-x: auto;
}

.form-space > * + * {
    margin-top: 16px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-label {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin-bottom: 8px;
}

.form-input {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.3s;
}

.form-input:focus {
    border-color: #007bff;
    outline: none;
}

.form-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-button:hover {
    background-color: #0056b3;
}

.color-quantity-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.color-quantity-row .form-input {
    flex: 1;
    margin-right: 10px;
}

.color-quantity-row .form-input:last-child {
    margin-right: 0;
}

.remove-row-button {
    background-color: #e3342f;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.remove-row-button:hover {
    background-color: #cc1f1a;
}


#subcategory-container {
    display: none;
}

.subcategory-group {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.size-fields {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.size-field {
    display: flex;
    align-items: center;
    flex: 1;
}

.size-field .unit {
    margin-left: 5px;
    font-size: 14px;
    color: #666;
}

.size-fields input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.icon-container {
    display: flex;
    justify-content: space-between; /* Розподіл між іконками */
    gap: 10px; /* Відступи між іконками */
    flex-wrap: wrap; /* Дозволити обгортання */
}

.icon-link {
    display: flex;
    align-items: center; /* Вирівнювання іконок по центру */
}

@media (max-width: 992px) {
    .icon-container {
        flex-direction: column; /* Вертикальне розташування іконок */
        align-items: center; /* Вирівнювання іконок по центру */
    }
}

@media (max-width: 768px) {
    .size-fields {
        flex-direction: column;
    }

    .size-field {
        margin-bottom: 10px;
    }

    .custom-table {
        font-size: 14px;
    }
}

.no-scroll {
    overflow: hidden;
}

/*===================Error styles===================*/
.error-message {
    color: #ff0000;
    font-size: 12px;
    margin-top: 4px;
}

/*======================================LOGIN======================================*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.admin-form {
    max-width: 340px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 20px;
}

.admin-form h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
}

.admin-form form {
    display: flex;
    flex-direction: column;
}

.admin-form form .form-group {
    margin-bottom: 1rem;
}

.admin-form form label {
    font-size: 1rem;
    color: #4a5568;
    font-weight: bold; /* Зроблено надписи жирними */
    margin-bottom: 0.5rem;
}

.admin-form form input[type="text"],
.admin-form form input[type="password"],
.admin-form form input[type="checkbox"],
.admin-form form button {
    padding: 0.75rem;
    border: 2px solid #cbd5e0;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 0.25rem;
}

.admin-form form button {
    background-color: #1a202c;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 150px;
    margin: auto;
}

.admin-form form button:hover {
    background-color: #3c6a36;
}

.admin-form form .form-group label {
    margin-right: 1rem;
}

.error-messages {
    display: none;
    max-width: 340px;
    background-color: #fdebeb;
    border: 1px solid #f06292;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-top: 1rem; /* Додано відступ зверху */
}

.error-messages .font-bold {
    font-weight: bold;
    color: #e53935;
}

.error-messages ul {
    list-style-type: disc;
    margin-left: 1rem;
    color: #c62828;
}

/*=======================================TABLE=======================================*/
.w-full {
    max-width: max-content;
}

.main-content {
    margin-top: 1rem; /* Adjust as necessary */
    padding: 1rem 3rem; /* Adjust padding if needed */
    justify-content: center;
    align-items: center;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-table th, .custom-table td {
    padding: 10px;
    text-align: center;
}

.custom-table th {
    background-color: #edf2f7;
    border-bottom: 2px solid #cbd5e0;
}

.custom-table td {
    border-bottom: 1px solid #cbd5e0;
}

/* Image cell styling */
.image-container {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.product-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/*============================= Button styling =============================*/
.button {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}

.button-primary {
    background-color: #3490dc;
    color: #ffffff;
    border: 2px solid #3490dc;
    transition: background-color 0.3s ease;
}

.button-primary:hover {
    background-color: #2779bd;
}

.add-category-btn {
    font-size: 19px;
    padding: 4px 12px;
}
.remove-button {
    margin-left: 10px;
    border: none;
    cursor: pointer;
    font-size: 19px;
    padding: 4px 14px;
    background-color: #f61111;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.remove-button:hover {
    background-color: #810300;
}

.btn-group {
    display: flex;
    justify-content: space-between;
}

#backButton {
    background: #1a202c;
}

/*================================ PAGINATE ================================*/

.container-paginate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2d4848;
    padding: 50px 0;
}

.paginate {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    border-radius: 0.6rem;
    background: #ffffff;
    box-shadow: 0 0.8rem 2rem rgba(90, 97, 129, 0.45);
    padding-inline: 20px; /* Adjusted padding */
}

.paginate__numbers,
.paginate__btn,
.paginate__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.8rem;
    font-size: 1.4rem;
    cursor: pointer;
}

.paginate__dots {
    width: 2.6rem;
    height: 2.6rem;
    color: #23adade1;
    cursor: initial;
}

.paginate__numbers {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 0.4rem;
}

.paginate__numbers:hover {
    color: #23adad;
}

.paginate__numbers.active {
    color: #ffffff;
    background: #23adad;
    font-weight: 600;
    border: 1px solid #23adad;
}

.paginate__numbers.active a {
    color: #ffffff;
}

.paginate__btn {
    color: #23adade1;
}

.paginate__btn.active {
    color: #2d4848;
    pointer-events: initial;
}

.paginate__btn.active:hover {
    color: #23adad;
}

.mobile-version {
    display: none; /* Show mobile version on phones */
}

/* Media Query for Phones */
@media only screen and (max-width: 600px) {
    .full-version {
        display: none; /* Hide full version on phones */
    }

    .mobile-version {
        display: flex; /* Show mobile version on phones */
        margin: 1rem;
    }

    .mobile-version .paginate__numbers,
    .mobile-version .paginate__btn,
    .mobile-version .paginate__dots {
        font-size: 1rem;
        margin: 0.3rem;
        width: 2rem;
        height: 2rem;
    }
}

/* Media Query for Tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .paginate {
        margin: 2rem;
    }
}


/* Стилі для Dropzone */
/*.dropzone {*/
/*    border: 2px dashed #ccc;*/
/*    padding: 20px;*/
/*    margin-top: 10px;*/
/*    min-height: 150px;*/
/*}*/

/*.dropzone .dz-main-image {*/
/*    border: 2px solid #1a202c; !* Колір підкреслення для головного зображення *!*/
/*}*/
